POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DATABASE=skitter
PORT=3000
BCRYPT_SALT_ROUNDS=10
JWT_SECRET_KEY=mysecretkey
TOKEN_EXPIRATION_TIME=60d